body {
  font-family: 'RobotoRegular';
  font-size: 14px;
  background-color: #dfe6ef;
}
.wrapper {
  background-color: #fff;
  min-height: 100vh;
}
.header-container {
  background-color: #fff;
}
.head-container {
  padding: 20px 25px;
}
.logo {
  float: left;
  display: block;
  font-size: 20px;
  font-weight: 600;
  line-height: 47px;
  height: 47px;
}
.nav-menu {
  float: right;
  padding-right: 10px;
}
.nav-menu ul {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.nav-menu ul li {
  float: left;
  margin-right: 30px;
}
.nav-menu ul li a {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 45px;
  height: 45px;
  color: #000;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.nav-menu ul li a:hover {
  color: #3074c7;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  text-decoration: none;
}
.dropdown {
  position: relative;
}
.dropdown:hover .has-children {
  position: relative;
  padding-right: 5px;
  color: #3074c7;
}
.dropdown:hover .has-children i {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f2f2f2;
  min-width: 160px;
  z-index: 1;
}
.dropdown .dropdown-content li {
  width: 100%;
}
.dropdown .dropdown-content li a {
  padding: 12px 0px 12px 16px;
  text-decoration: none;
  display: block;
  margin-right: 0;
  line-height: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.dropdown .dropdown-content li a:hover {
  background-color: #ccc;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.has-children {
  position: relative;
  padding-right: 5px;
}
.has-children:hover i {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.has-children i {
  font-size: 14px;
  margin-left: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.collapsible i {
  font-size: 17px;
  margin-left: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
button {
  background-color: #57c730;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  padding: 16px;
  float: right;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
button:hover {
  background-color: #4eb22b;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.basket-button i {
  font-size: 14px;
  margin-right: 5px;
}
.carousel-container {
  background-color: #fff;
}
.carousel-control-prev {
  content: "";
  width: 20px;
  height: 20px;
  border-top: 4px solid #fff;
  border-left: 4px solid #fff;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  top: 50%;
  left: 3%;
}
.carousel-control-next {
  content: "";
  width: 20px;
  height: 20px;
  border-top: 4px solid #fff;
  border-right: 4px solid #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 3%;
}
.my-caption {
  right: 7%;
  left: 70%;
  bottom: -5%;
}
.slide-text-container-1,
.slide-text-container-2 {
  -webkit-animation: fade-in 0.8s;
          animation: fade-in 0.8s;
  background-color: rgba(0, 0, 0, 0.7);
  margin-bottom: 5px;
  padding: 10px;
  display: block;
  text-align: left;
}
.slide-text-container-1 h3,
.slide-text-container-2 h3 {
  font-size: 25px;
  line-height: 33px;
}
.slide-text-container-1 p,
.slide-text-container-2 p {
  font-family: 'RobotoLight';
  font-size: 12px;
  line-height: 20px;
}
.slide-text-container-1 {
  margin-right: 20px;
}
.slide-text-container-2 {
  -webkit-animation-duration: 1.0s;
          animation-duration: 1.0s;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(400%);
            transform: translateY(400%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(400%);
            transform: translateY(400%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
.feature-container {
  background-color: #fff;
  padding: 50px 25px;
}
.feature-section {
  padding: 0px 0px;
}
.feature-description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.feature-symbol {
  color: #3074c7;
  font-size: 20px;
}
.feature-text {
  padding-top: 3px;
  margin-left: 10px;
  padding-right: 30px;
}
.feature-text h2 {
  font-weight: 600;
}
.feature-text p {
  margin-top: 15px;
  line-height: 17px;
  font-size: 12px;
}
.footer-section {
  display: block;
}
.foot-container {
  padding: 50px 25px;
  background-color: #f3f7fe;
}
.footer-container {
  position: relative;
  display: block;
  width: 100%;
}
.footer-container h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
}
.footer-container .footer-text {
  display: block;
  float: left;
}
.footer-container .footer-text p {
  padding-top: 20px;
  font-family: "RobotoLight";
  font-size: 12px;
  line-height: 20px;
  max-width: 100%;
}
.second-footer-container {
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
}
.second-footer h1 {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  margin-bottom: 30px;
}
.second-footer p {
  line-height: 1.6;
  font-size: 13px;
}
.second-footer .social-media {
  margin-top: 30px;
  float: left;
}
.second-footer .social-media .social-media-icon {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-right: 10px;
}
.footer-column {
  padding-right: 50px;
}
.tweets li {
  margin-bottom: 10px;
}
.tweets li a {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-content: baseline;
      -ms-flex-line-pack: baseline;
          align-content: baseline;
  text-decoration: none;
}
.tweets li a:hover {
  text-decoration: none;
}
.tweets li a .social-media-icon {
  padding-top: 4px;
  margin-right: 15px;
}
.tweets li a .tweet-message {
  line-height: 1.6;
  font-size: 13px;
}
.panel-group-container {
  float: left;
  display: none;
  width: 100%;
  padding: 30px 0px 0px 0px;
}
.panel-group-container .panel-heading {
  background-color: #3074c7;
  color: #fff;
  font-family: "RobotoLight";
}
.panel-group-container .panel-heading .panel-title {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.panel-group-container .panel-heading .collapse-menu-button {
  color: #fff;
  font-size: 17px;
  float: right;
}
.panel-group .my-panel {
  -webkit-border-radius: 0px;
          border-radius: 0px;
}
.panel-group .my-panel .my-panel-heading {
  -webkit-border-top-left-radius: 0px;
          border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
          border-top-right-radius: 0px;
}
.panel-collapse .list-group {
  text-transform: uppercase;
}
.panel-collapse .list-group .list-group-item {
  background-color: #efefef;
  padding: 0;
}
.panel-collapse .list-group a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.panel-collapse .list-group a:hover {
  text-decoration: none;
  color: #23527c;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.panel-collapse .list-group a:focus {
  text-decoration: none;
}
.collapse-list {
  background-color: #fff;
}
.collapse-list .collapse-list-item {
  border-top: 1px solid #d9d9d9;
  width: 100%;
  line-height: 35px;
}
.collapse-list .collapse-list-item .collapse-link {
  padding: 5px 15px;
  display: block;
  width: 100%;
}
.arrow {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.arrow-up {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
