/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .my-caption {
    left: 60%;
  }
  .slide-text-container-1 h3 {
    font-size: 18px;
    line-height: 28px;
  }
  .slide-text-container-2 {
    display: none;
  }
  .nav-menu {
    display: none;
  }
  .panel-group-container {
    display: block;
  }
  .head-container {
    padding: 40px 15px 0px;
  }
  .top-header {
    padding: 0px 10px 0px 10px;
  }
  .panel-group-container {
    padding: 25px 0px 0px;
  }
  .feature-container {
    padding-top: 40px;
    padding-bottom: 0;
    padding-right: 15px;
    padding-left: 15px;
  }
  .feature-description {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 40px;
  }
  .feature-symbol {
    margin-left: 0px;
  }
  .feature-text {
    padding-right: 10px;
  }
  .feature-text p {
    margin-top: 10px;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .right-column {
    float: none;
  }
  .slide-text-container-1 h3 {
    font-size: 14px;
    line-height: 22px;
  }
  .top-header {
    padding: 0px 0px 0px 0px;
  }
  .panel-group-container {
    padding: 30px 0px 0px 0px;
  }
  .feature-section {
    padding-right: 0;
    padding-left: 0;
  }
  .feature-description {
    margin-left: 0px;
  }
  .feature-symbol {
    margin-left: 0px;
  }
  .feature-text {
    padding-right: 0px;
  }
  .feature-text p {
    margin-top: 10px;
  }
  .footer-container .basket-button {
    padding: 16px 7px;
    margin-left: 0px;
    margin-top: 25px;
  }
  .xs-pull-left {
    float: left !important;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .my-caption {
    display: none;
  }
  .feature-description {
    max-width: 100%;
  }
  .feature-text {
    padding-right: 0px;
  }
  .footer-container .basket-button {
    padding: 16px 7px;
    margin-left: 0px;
    margin-top: 25px;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .footer-container .basket-button {
    margin-top: 15px;
  }
}
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
